@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Administrator"))
        {
            <a href="">שלום,  @context.User.Identity.Name!</a>
            <a href="#" @onclick="BeginSignOut">יציאה</a>

        }
        else
        {
                <a href="">שלום,  @context.User.Identity.Name!</a>
                <a href="#" @onclick="BeginSignOut">יציאה</a>
        }


    </Authorized>        
        
  
    <NotAuthorized>

        <a href="authentication/login">כניסה</a>
        
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
    

}
