<div class="top-row pl-4 navbar navbar-dark">
    @*<a class="navbar-brand" href="">השתיל-תפריט</a>*@
    <img src="HashtilTM.png" alt="Image" style="width:auto;height:auto">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Administrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>&nbsp ראשי
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pages/listroles" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>&nbsp Admin
                </NavLink>
            </li>
        </AuthorizeView>
        @*Thai-Guy User-Insert To Growing Room*@
        <AuthorizeView Roles="Administrator,Thai-Guy">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="sowing/insertpassport" Match="NavLinkMatch.All">
                    @*GrowingRoom*@
                    <span class="oi oi-inbox" aria-hidden="true"></span>&nbsp ห้องที่กำลังเติบโต
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Viewer,Manager-GreenHouse,Agronomist,AuditAvgCounter,Manager-Oren">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/growingrooms" Match="NavLinkMatch.All">
                    @*GrowingRoom*@
                    <span class="oi oi-globe" aria-hidden="true"></span>&nbspחדרי הנבטה
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Thai-GreenHouse">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="thai-greenhouse/newmovingpassports" Match="NavLinkMatch.All">
                    @*GrowingRoom*@
                    <span class="oi oi-yen" aria-hidden="true"></span>&nbsp ใหม่หรือปรับปรุง
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Viewer,Manager-GreenHouse,AuditAvgCounter">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/WaitingForConfirmation" Match="NavLinkMatch.All">

                    <span class="oi oi-command" aria-hidden="true"></span>&nbsp חדשים לאישור
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Viewer,Manager-GreenHouse,Manager-Oren,AuditAvgCounter,Manager-Drivers">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/Metzay" Match="NavLinkMatch.All">

                    <span class="oi oi-grid-three-up" aria-hidden="true"></span>&nbsp מצאי
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Viewer,Manager-GreenHouse,Manager-Oren,AuditAvgCounter,Manager-Drivers">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/passportstofollowup" Match="NavLinkMatch.All">
                    <span class="oi oi-aperture" aria-hidden="true"></span>&nbsp פס' במעקב
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,Viewer,Manager-GreenHouse,Manager-Oren,AuditAvgCounter,Manager-Drivers">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/passportstocheck" Match="NavLinkMatch.All">
                    <span class="oi oi-check" aria-hidden="true"></span>&nbsp פס' לבדיקה
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator,AuditAvgCounter">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="inventory/passportavg" Match="NavLinkMatch.All">
                    <span class="oi oi-timer" aria-hidden="true"></span>&nbsp ממוצעים
                </NavLink>
            </li>
        </AuthorizeView> 

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
