<div class="top-row pl-4 navbar navbar-dark">
    @*<a class="navbar-brand" href="">השתיל-תפריט</a>*@
    <img src="HashtilTM.png" alt="Image" style="width:auto;height:auto">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="Administrator,Thai-GreenHouse">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>&nbsp ראשי
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pages/listroles" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>&nbsp Admin
                </NavLink>
            </li>
        </AuthorizeView>
        @*Thai-Guy User-Insert To Growing Room*@
        <AuthorizeView Roles="Administrator,Thai-Guy">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                                                                            @*GrowingRoom*@
                    <span class="oi oi-inbox" aria-hidden="true"></span>&nbsp ห้องที่กำลังเติบโต
                </NavLink>
            </li>
        </AuthorizeView>
       
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
